* {
    padding: 20px;
    margin: 10px;
    background: url(/img/background/bg1.jpg);
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}
img {
    padding-left: 500px;
    min-height: 500px;
}
h2 {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}
p {
    text-align: justify;
    font-size: 25px;
    color: #ffffff;
}
li {
    font-size: 25px;
    color: #ffffff;
}
.machine {
    min-height: 250px;
    padding-left: 200px;
}
a {
    color: #ffffff;
    padding: 0;
}
caption {
    align-items: center;
}
strong {
    color: #ffffff;
    font-size: 20px;
}
td {
    font-size: 20px;
    color: #ffffff;
    width: 300px;
}